/*Variáveis*/
:root {
    --green: #04c35c;
    --blue: #2b6cb0;
  
    --white: #ffffff;
    --white300: #f7fafc;
  
    --dark: #1a202c;
    --input: #e8e8e8;
  }
  
  /*Reset*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  button,
  input {
    border: 0;
  }
  button:focus,
  input:focus {
    border: 0;
  }

  @font-face {
      font-family: "Lato bold";
      src: url(fontes/Lato-Bold.ttf);
  }

  @font-face {
    font-family: "Lato regular";
    src: url(fontes/Lato-Regular.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(fontes/Merriweather-Regular.ttf);
}

main{
    display: flex;
    flex-wrap: wrap;
}

main div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    height: 100vh;
}

main div:first-child{
    background: var(--white300);
    background-image: url(../imagens/image.svg);
    background-repeat: no-repeat;
    background-size: 330px;
    background-position: center;
}

main div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

main div:last-child form{
    display: flex;
    justify-content: space-between;
    width: 330px;
}
